<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="EnglishTextsTrainerConnectionString"
         connectionString="Data Source=DESKTOP-GFPVS5E\POPKOVMSSERVER;Initial Catalog=EnglishTextsTrainer;Integrated Security=True"/>
  </connectionStrings>
</configuration>